body {
  background-color: #96A5A1;
  margin: 0px
}

#main-grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  height: 95vh;
}

#timeline{
  grid-area: 1 / 1 / auto / auto;
  background-color: #25222B;
}

#hero-container{
  grid-area: 1 / 2 / auto / auto;
  justify-self: center;
  align-self: center;

}

.hero-image{
  height: 75vh;
}

#map{
  height: 25vh;
}
