#top-nav {
  align-content: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #E25D1E;
  color: #f4f4f4;
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top-nav ul li {
  display: inline-block;
  margin-left:30px;
  margin-right:30px;
}

#top-nav ul li:first-child {
  margin-left:0px;
}
#top-nav ul li:last-child {
  margin-right: 0px;
}

#top-nav ul {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}
